.breadcrumb {
    display: flex;
    align-items: center;
    font-size: 15px;
    color: #666;
    padding-left: 110px;
    margin-top: 20px;
    margin-bottom: -25px;

    .breadcrumb-link {
        color: #007aff;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }

    .breadcrumb-item {
        display: flex;
        align-items: center;
    }

    .breadcrumb-separator {
        margin: 0 8px;
    }

    .breadcrumb-active {
        color: #333;
        font-weight: bold;
    }
}
