// QA.module.scss

.grabfoodContainer {
    padding: 0 95px;
  }
  
  .card {
    background-color: white;
    padding: 15px;
  }
  
  
  h3 {
    color: #333;
    font-size: 2rem;
  }
  
  p {
    color: #666;
    font-size: 1.3rem;
    padding-bottom: 15px;
    padding-top: 5px;
  }
  