// QA.module.scss

.grabfoodContainer {
    padding: 0 95px;
  }
  
  .card {
    background-color: white;
    padding: 10px;
  }
  
  
  h3 {
    color: #333;
    font-size: 2rem;
    padding-bottom: 2rem;
  }
  
  p {
    color: #666;
    font-size: 1rem;
  }
  