.forgot-password {
    text-align: right;
    margin-bottom: 1rem;
}

.forgot-password-link {
    font-size: 0.9rem;
    color: #00b14f;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}
